
@model massage.Models.ViewModel
<div class="container">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-12">
      <!-- Custom Tabs -->
      <div class="card">
        <div class="card-header p-0">
          <div class="col-sm-3">
            <ul class="nav nav-pills ml-auto p-2">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                  Practitioner <span class="caret"></span>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" tabindex="-1" href="PractitionerShow/0">All Practitioners</a>
                  @foreach (var prac in Model.AllPractitioners)
                  {
                    <a class="dropdown-item" tabindex="-1" href="PractitionerShow/@prac.UserId">@prac.FirstName @prac.LastName</a>
                  }
                </div>
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <h2>Today's Appointments - @DateTime.Today.DayOfWeek.ToString()</h2>
          </div>
        </div><!-- /.card-header -->
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
              <table class="table bg-white">
                  <thead>                  
                    <tr>
                        <th>Time</th>
                        <th>Customer</th>
                        <th>Practitioner</th>
                        <th>Service</th>
                        <th>Room</th>
                        <th>Notes</th>
                    </tr>
                  </thead>
                  <tbody>
                    @{
                      foreach (Reservation rsv in Model.AllReservations)
                      {
                        DateTime startT = DateTime.Today.AddHours(rsv.Timeslot.Hour);
                        DateTime endT = startT.AddHours(1);
                        <tr>
                          <td>@String.Format("{0:htt}", startT) - @String.Format("{0:htt}", endT)</td>
                          <td>@rsv.Customer.FirstName @rsv.Customer.LastName[0]</td>
                          <td>@rsv.Practitioner.FirstName @rsv.Practitioner.LastName[0]</td>
                          <td>@rsv.Service.Name</td>
                          <td>Room @rsv.Room.RoomId</td>
                          @if (rsv.Notes == null || rsv.Notes.Length == 0)
                          {
                            <td>(no notes)</td>
                          }
                          else if (rsv.Notes.Length <= 30) {
                            <td>@rsv.Notes</td>
                          }
                          else {
                            string shortNotes = "";
                            for (int i=0; i<=30; i++)
                            {
                              shortNotes = shortNotes + rsv.Notes[i];
                            }
                            <td>@shortNotes</td>
                          }
                        </tr>
                      }
                    }
                  </tbody>
                </table>
            </div>
          </div>
          <!-- /.tab-content -->
        </div><!-- /.card-body -->
      </div>
      <!-- ./card -->
    </div>
  </div>
</div><!-- /.container-fluid -->